<html>
    <head>
        <body>
            <style>
                body {
    font-family: "Roboto", sans-serif;
    background-image: url(b.jpg);
    background-size: cover;
    position: relative;
}
.registration-form{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:350px;
}

    .registration-form p{
font-size:20px;
margin:15px 0;
    }

.registration-form input {
    font-size:16px;
    padding:15px 10px;
    width:100%;
    border:0;
    border-radius:5px;
    outline:none;
}
.registration-form button {
    font-size:18px;
    font-weight:bold;
    margin:20px 0;
    padding: 10px 15px;
    width:50%;
    border:0;
    border-radius: 5px;
    background-color:#fff;
}
</style>
<div class="registration-form">
    <h1><%= msg %></h1>
            <form action="log" method="post">
                <p>Email:</p>
                <input type="email" name="email" placeholder="Email" id="" required >
                <p>Password:</p>
                <input type="password" name="password" placeholder="Password" id="" required >
                <p>
                <button type="submit">Login</button>
                </p>
            </form>
        </div>
        </body>
    </head>
</html>