<html>
    <head>
        <body>
            <form action="/area" method="post">
                <label for="fnum">Given radius</label><br>
                <input type="text" id="fnum" name="num" value=""><br>
                <input type="submit" value="Submit">
            </form>
            <%=
            result
            %>
        </body>
    </head>
</html>