<html>
    <head>
        <link rel="stylesheet" type="text/css">
        <body>
            <style>
                body {
    font-family: "Roboto", sans-serif;
    background-image: url(b.jpg);
    background-size: cover;
    position: relative;
}
.registration-form{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:350px;
}
    .registration-form p{
font-size:20px;
margin:15px 0;
    }

.registration-form input {
    font-size:16px;
    padding:15px 10px;
    width:100%;
    border:0;
    border-radius:5px;
    outline:none;
}
.registration-form button {
    font-size:18px;
    font-weight:bold;
    margin:20px 0;
    padding: 10px 15px;
    width:50%;
    border:0;
    border-radius: 5px;
    background-color:#fff;
}
</style>
            <div class="registration-form">
            <form action="sub" method="post">
                <p>name:</p>
                   <input type="name" name="name" placeholder="Name" id="" required >
                   <input type="text" name="email" value="<% eml %>"  hidden id="">
                   <p>Phone:</p>
                   <input type="tel" name="phone" placeholder="Phone" id="" required >
                   <p>Age:</p>
                   <input type="tel" name="age" placeholder="Age" id="" required >
                   <p>Address:</p>
                   <input type="text" name="address" placeholder="Address" id="" required >
                <button type="submit">Submit</button>
                </p>
            </form>
        </div>
        </body>
    </head>
</html>