<html>
    <head>
        <body>
            <style>
                body {
    font-family: "Roboto", sans-serif;
    background-image: url(b.jpg);
    background-size: cover;
    position: relative;
}
</style>
<h1><center> PET SHOP</center></h1>
<form>
    <a href="/register">
    <input type="button" value="Register">
    </a>
    <a href="/login">
    <input type="button" value="Login">
    </a>
</form>
        </body>
    </head>
</html>