<html>
    <head>
        <body>
            <style>
                body {
    font-family: "Roboto", sans-serif;
    background-image: url(im.jpg);
    background-size: cover;
    position: relative;
}
.registration-form{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:350px;
    text-align: center;
}
</style>
<div class="registration-form">
            <a href="/catregis">Category</a> <hr> <a href="/regmed">Medicine</a>
            </div>
        </body>
    </head>
</html>